/*----------Global styles----------*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-size: 1.8rem !important;
  font-family: "Open Sans", sans-serif !important;
  color: #2b3e51 !important;
  background-color: #ffffff !important;
}